@import '@fortawesome/fontawesome-free/css/all.min.css';

body, html {
  margin: 0;
  padding: 0;
}

.navbar {
  background: white;
  padding: 2px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  color: black;
  margin: 0; 
  position: relative; 
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 20px;
}

/* .navbar-search {
  flex-grow: 1;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .navbar-search input {
  width: 70%;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #d99;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
} */

.account-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.account-icons a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
}

.account-icons i {
  margin-right: 5px;
  font-size: 1.2rem;
}

.logo {
  display: flex;
  align-items: center; 
  gap: 10px;
}

.logo-image {
  width: 100%; 
  height: 50px; 
  border-radius: 8px; 
  object-fit: contain; 
  margin-top: 10px;
}

.active-link {
  text-decoration: none;
  color: #a11e8e !important; 
  font-weight: bold; 
}

.active-link i {
  color: #a11e8e; 
}

.account-icons a {
  text-decoration: none; 
}

.account-icons .active-link {
  text-decoration: none; 
}

.account-icons a:hover {
  text-decoration: none; 
}

.navbar-search {
  position: relative; 
}

.navbar-search input {
  width: 220%;
  margin-left: 100px;
  padding: 10px 30px 10px 15px; 
  border-radius: 20px;
  border: 1px solid #d99;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search-icon {
  position: absolute;
  left: 250%; 
  top: 50%;
  transform: translateY(-50%);
  color: rgb(160, 108, 108); 
  pointer-events: none; 
  z-index: 1; 
  font-size: 18px;
}




